<%- include('head'); -%>
<main>
  <div class="jumbotron">
      <p class="lead"><i class="fa fa-user" aria-hidden="true"></i>
        Google Profile Information</p>
      <hr class="my-4">
      <p><%= message %></p>
      <p>Google_Id: <%= user.googleId %></p>
      <p>Name: <%= user.name %></p>
      <p>Email Address: <%= user.email %></p>
  </div>
</main>
<%- include('foot'); -%>